<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment">
</head>
<body class="nav-md">

<div th:include="fragments/header :: bodyFragment"></div>
<div class="container">
    <div th:if="${not #strings.isEmpty(errorMessage)}"  class="container,bg-danger" style="text-align: center;">
        <div class="row">&nbsp;</div>
        <h3 th:text="${errorMessage}"></h3>
        <div class="row">&nbsp;</div>
      </div>
      <div class="jumbotron">
        <div class="list-group">
           <div class="list-group-item table-responsive" >
            <div class="row">
           <div class="col">
           		<h4 class="list-group-item-heading" >List of Students who
           		<ul style="font-size:small;">
           			<li>have not fast-tracked</li>
           			<li>were not auto-reenrolled</li>
           			<li>and did not opt out</li>
           			
           		</ul>
           		</h4>
           		</div>
           		<div class=" col  d-flex justify-content-end">
           		<div >
           		
           		
           		<button class="btn btn-danger btn-sm" onclick="window.open('/shi/admin/getFinalReportAsExcel')">Download as Excel</button>
           		</div>
           		</div>
           		</div>
           		<br/>
           		
           		<table class="table table-stripedx table-bordered table-hover table-sm" style="text-align: center; align-self: center;" id="finalReportTable">
  <thead class="bg-gold" style="">
    <tr>
   	  <th scope="col" style="text-align: center; font-weight: bold;">STUDENT LID</th>
   	  <th scope="col" style="text-align: center; font-weight: bold;">NAME PREFIX</th>
      <th scope="col" style="text-align: center; font-weight: bold;">STUDENT NAME</th>
      <th scope="col" style="text-align: center; font-weight: bold;">GENDER</th>
      <th scope="col" style="text-align: center; font-weight: bold;">DATE OF BIRTH</th>
      <th scope="col" style="text-align: center; font-weight: bold;">ACADEMIC PROGRAM</th>
      <th scope="col" style="text-align: center; font-weight: bold;">ACADEMIC LEVEL</th>
      <th scope="col" style="text-align: center; font-weight: bold;">ADDRESS TYPE</th>
      <th scope="col" style="text-align: center; font-weight: bold;">ADDRESS</th>
      <th scope="col" style="text-align: center; font-weight: bold;">PHONE</th>
      <th scope="col" style="text-align: center; font-weight: bold;">EMAIL ADDRESS</th>

     </tr>
  </thead>
  <tbody >
   
    <tr th:each="finalreport : ${finalReportList}" >
    	
    	<td th:text="${finalreport .lid}" style="font-size: 0.75rem;"/>
    	<td th:text="${finalreport .nameprefix}" style="font-size: 0.75rem;"/>
    	<td th:text="${finalreport.firstname+' '+finalreport.middlename+' '+finalreport.lastname}" style="font-size: 0.75rem;"/>
    	<td th:text="${finalreport .gender}" style="font-size: 0.75rem;"/>
    	<td th:text="${finalreport .getBirthDayStr()}" style="font-size: 0.75rem;"/>
    	 <td th:text="${finalreport.acadcareer}" style="font-size: 0.75rem;"/>
    	<td th:text="${finalreport.acadlevel}" style="font-size: 0.75rem;"/>
    	<td th:text="${finalreport.addrType}" style="font-size: 0.75rem;"/>
    	<!-- <td th:text="${finalreport.address1+', '+finalreport.address2+', '+finalreport.city+', '+finalreport.state+', '+finalreport.zip}" style="font-size: 0.75rem;"/>-->
    	<td th:text="${finalreport.getCompleteAddressStr()}" style="font-size: 0.75rem;"/>
    	<td th:text="${finalreport.phone}" style="font-size: 0.75rem;"/>
    	<td th:text="${finalreport.email}" style="font-size: 0.75rem;"/>
     </tr>
     </tbody>
     </table>
           	</div>
         </div>
         </div>  		
</div>
<script>
$(document).ready(function () {
	  $('#finalReportTable').DataTable({
	    "paging": true // false to disable pagination (or any other option)
	  });
	
	  $('#finalReportTable_wrapper').find('label').each(function () {
		    $(this).parent().append($(this).children());
		  });
		  $('#finalReportTable_wrapper .dataTables_filter').find('input').each(function () {
		    const $this = $(this);
		    $this.attr("placeholder", "Search");
		    $this.removeClass('form-control-sm');
		  });
		  $('#finalReportTable_wrapper .dataTables_filter').addClass('md-form');
		  $('#finalReportTable_wrapper .dataTables_filter').find('label').remove();
	});
</script>
<div th:include="fragments/footer :: footerFragment"></div>
</body>
</html>      