<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment">
</head>
<body class="nav-md">

<div th:include="fragments/header :: bodyFragment"></div>
<div class="container">
    <div th:if="${not #strings.isEmpty(errorMessage)}"  class="container,bg-danger" style="text-align: center;">
        <div class="row">&nbsp;</div>
        <h3 th:text="${errorMessage}"></h3>
        <div class="row">&nbsp;</div>
      </div>
      <div class="jumbotron" >
        <div class="list-group">
           <div class="list-group-item table-responsive" >
           <div class="row">
           <div class="col-9">
           		<h3 class="list-group-item-heading" >List of Students Fast Tracked for <span th:text="${term}"></span></h3>
           		</div>
           		<div class=" col-3  d-flex justify-content-end">
           		<button class="btn btn-danger btn-sm" onclick="window.open('/shi/admin/getFastTracksAsExcel')">Download as Excel</button>
           		</div>
           		</div>
           		<br/>
           		
           		<table class="table table-stripedx table-bordered table-hover" style="text-align: center; align-self: center;"  id="fastTrackTable">
           		
  <thead class="bg-gold" style="">
    <tr>
   	  <th scope="col" style="text-align: center; font-weight: bold;">TERM</th>
      <th scope="col" style="text-align: center; font-weight: bold;">STUDENT LID</th>
      <th scope="col" style="text-align: center; font-weight: bold;">STUDENT NAME</th>
      <th scope="col" style="text-align: center; font-weight: bold;">ACADEMIC PROGRAM</th>
      <th scope="col" style="text-align: center; font-weight: bold;">ADDRESS</th>
      <th scope="col" style="text-align: center; font-weight: bold;">DATE SUBMITTED</th>
     </tr>
   
  </thead>
  <tbody >
   
    <tr th:each="fastTrack : ${fastTrackList}" >
    	<td th:text="${fastTrack.term}" style="font-size: 0.75rem;"/>
    	<td th:text="${fastTrack.lid}" style="font-size: 0.75rem;"/>
    	<td th:text="${fastTrack.firstname+' '+fastTrack.lastname}" style="font-size: 0.75rem;"/>
    	 <td th:text="${fastTrack.acadcareer}" style="font-size: 0.75rem;"/>
    	<!-- <td th:text="${fastTrack.address1+', '+fastTrack.address2+', '+fastTrack.city+', '+fastTrack.state+', '+fastTrack.postal}" style="font-size: 0.75rem;"/>-->
    	<td th:text="${fastTrack.getCompleteAddressStr()}"  style="font-size: 0.75rem;"/>
    	<td th:text="${fastTrack.datesubmitted}" style="font-size: 0.75rem;"/><!---->
     </tr>
     </tbody>
     </table>
           	</div>
         </div>
         </div>  		
</div>
<script>

$(document).ready(function () {

	//   // false to disable pagination (or any other option)$('.dataTables_length').addClass('bs-select');
	
	  $('#fastTrackTable').DataTable({
	    "paging": true
	  });

	  
	  $('#fastTrackTable_wrapper').find('label').each(function () {
		    $(this).parent().append($(this).children());
		  });
		  $('#fastTrackTable_wrapper .dataTables_filter').find('input').each(function () {
		    const $this = $(this);
		    $this.attr("placeholder", "Search");
		    $this.removeClass('form-control-sm');
		  });
		  $('#fastTrackTable_wrapper .dataTables_filter').addClass('md-form');
		  $('#fastTrackTable_wrapper .dataTables_filter').find('label').remove();
	});
</script>
<div th:include="fragments/footer :: footerFragment"></div>
</body>
</html>      