@charset "UTF-8";
/* CSS Document - ADJUST CSS */


/*===============================================================
PATTERN LIBRARY LABEL
===============================================================*/

.pattern-library-label {
	margin: 50px 0 5px;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}


/*===============================================================
REMOVE MARGIN-LEFT
===============================================================*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}


/*===============================================================
MISCELLANEOUS
===============================================================*/

ul li { list-style-image: none; }

.container-padding { padding: 30px 0; }

.container-padding-home { padding: 20px 0; }

.border-bottom { border-bottom: dotted 1px #CCC; }


/*===============================================================
COLOR - TYPE
===============================================================*/

.white, .white a			{ color: #FFF; }
.maroon, .maroon a			{ color:#680013; }
.gold, .gold a				{ color: #EEB111; }
.gray-light, .gray-light a	{ color: #CCCCCC; }
.gray-mid, .gray-mid a		{ color: #525252; }
.gray-dark, .gray-dark a	{ color:#272727; }


/*===============================================================
BACKGROUND COLOR - GLOBAL
===============================================================*/

.none 				{ background-color: none; }
.bg-white			{ background-color: #FFF; }
.bg-gray 			{ background-color: #CCC; }
.bg-gray-mid 		{ background-color: #525252; }
.bg-gray-dark		{ background-color: #272727; }
.bg-gray-dark-grid	{ background-color: #272727; background-image: url('/media/lucedu/patternlibrary/images/sprites/image-gallery-grid.png'); }
.bg-gold			{ background-color: #EEB111; }
.bg-gold-dark		{ background-color: #D8BD50; }
.bg-maroon			{ background-color: #680013; }
.bg-maroon-dark		{ background-color: #680013; }
.bg-brick			{ background-color: #5D4046; }
.bg-stone			{ background-color: #615E58; }
.bg-patina			{ background-color: #60726E; }
.bg-smoke			{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8); color:#fff; }
.bg-smoke-light		{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.35); color:#fff; }


/*===============================================================
BACKGROUND COLOR - STUDENT COMM
===============================================================*/

.bg-orange-light { background-color: #F48024; }
.bg-orange-mid { background-color: #D8531E; }
.bg-orange-dark { background-color: #C4122F; }


/*===============================================================
GLOBAL PANEL - LINKS - SEARCH
===============================================================*/

#main {
	width: 110%;
}


/*===============================================================
GLOBAL PANEL - LINKS - SEARCH
===============================================================*/

#global {
	position: relative;
	top: 5px;
}
ul#global-links, ul#global-form {
	float: right;
	width: 100%;
}
ul#global-links li {
	display: inline;
	margin: 0 0 5px 5px;
	text-align: right;
	list-style-type: none;
	list-style-image: none;
}
ul#global-links li:first-child {
	/* if you want this back on talk to John float: left;*/
	margin: 0 0 5px 0;
}
ul#global-links li a {
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
	font-size: 10px;
	color: #999999;
	text-transform: uppercase;
}
#global-links, #global-form {
	float:right;
	margin-bottom: 10px;
}
#global-form form {
	margin:0;
	padding:0
}
#global-form .input-append {
	width: 100%;
}
#global-form .input-append button.btn {
	width: 20%;
	max-height: 26px;
	border-radius: 0;
}
#global-form .input-append input#appendedInputButton {
	width: 47%;
	border-radius: 0;
}
#global-form .input-append button.btn i.icon-search {
background-position: -48px 0px; height: 15px;
}
.input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
	min-height: 10px;
}
input[type="text"] {
	height: 16px;
	font-size: 12px;
	line-height: 16px;
}


/*===============================================================
INFOBOX
===============================================================*/

html.wf-minionpro-n4-active body.subsite div.main div#page-content.fullbleed div#page.container div.row section#page-content.span6 article.content div.infobox p,
#page-content article.content .info,
#page-content article.content .infobox,
#page-content article.content .info p {
    font-size: 15px;
	line-height: 20px;
	font-family: "myriad-pro", sans-serif;
	margin-top:5px;
}
#page-content article.content .info p {
	line-height: 50%;
}
#page-content article.content .infobox {
	float: left;
    padding:5px 20px 10px;
    margin:20px 0 20px 0;
 	background-color: rgba(205, 206, 201, 0.5);
}
#page-content article.content .infobox h4,
#page-content article.content .infobox p {
	float: left;
	width: 100%;
}


/*===============================================================
INSET
===============================================================*/

#page-content article.content #feature-inset, #page-content article.content #feature-inset {
    width: 150px;
    background-color: rgba(205,206,201,0.5);
    float: left;
    margin: 10px 15px 0 0;
    padding: 0 0 5px;
}

#page-content article.content #feature-inset img, #page-content article.content #building-inset img {
    margin: 0;
}

#page-content article.content .inset-content, #page-content article.content .building-inset-content {
    padding: 5px 15px 7px 15px;
}

#page-content article.content .feature-inset-title, #page-content article.content .building-inset-title {
    font-family: "myriad-pro",sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    margin: 0px 0 4px;
}

#page-content article.content .feature-inset-subhead {
	margin: 6px 0;
    padding: 0;
    font-family: "myriad-pro",sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#page-content article.content .feature-inset-address, #page-content article.content .building-inset-address {
   	margin: 0;
    padding: 0;
    font-family: "myriad-pro",sans-serif;
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
}

#page-content article.content .feature-inset-campus, #page-content article.content .building-inset-campus{
   	margin: 0 0 6px 0;
    padding: 0;
    font-family: "myriad-pro",sans-serif;
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
}

/*
#page-content article.content article.content div#feature-inset div.inset-content div.feature-inset-blurb {
    max-height: 290px;
    min-height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
}
*/

#page-content article.content #feature-inset .inset-content .feature-inset-blurb p {
    margin: 0;
    padding: 0;
    font-family: "myriad-pro",sans-serif;
    font-size: 12px;
    line-height: 18px;
}

#page-content article.content div#building-inset .building-inset-content .building-inset-blurb p {
    margin: 0;
    padding: 0;
    font-family: "myriad-pro",sans-serif;
    font-size: 12px;
    line-height: 18px;
}

#page-content article.content #feature-inset .inset-content .feature-inset-blurb ul, #page-content article.content #building-inset .building-inset-content .building-inset-blurb ul, .feature-inset-blurb dl {
    margin: 7px 0 0 2px;
    width: 110px;
}
#page-content article.content #feature-inset .inset-content .feature-inset-blurb ul li, #page-content article.content #feature-inset .inset-content .feature-inset-blurb ul li a,
#page-content article.content #building-inset .building-inset-content .building-inset-blurb ul li, #page-content article.content #building-inset .building-inset-content .building-inset-blurb ul li a {
    margin: 0;
    padding: 0;
    font-family: "myriad-pro",sans-serif;
    font-size: 13px;
    line-height: 18px;
    list-style-type: none;
    margin-bottom: 5px;
    text-indent: 0;
    text-decoration: none;
}
#page-content article.content #feature-inset .inset-content .feature-inset-blurb ul li a:hover, #page-content article.content #building-inset .building-inset-content .building-inset-blurb ul li a:hover {text-decoration:underline;}


/*===============================================================
DROP DOWN MENU
===============================================================*/

.dropdown-menu {
	margin-top: -1px;
	/*min-width: 88.5%;
	width: 88.5%;
	max-height: 500px;*/
	border-radius: 0;
	background-color: #EEE;
	overflow-y: auto;
	
}

ul.dropdown-menu {
	margin: -11px 0 0 -1px;
	padding: 5px 15px 15px;
	list-style-type: none;
	list-style-image: none;
	border-radius: 0;
	background-color: #EEE;
}
ul.dropdown-menu ul#header-links {
	margin: -25px 0 0 0;
	margin-left: 0;
}
#header-links li ul.first-of-type li,
#header-links li ul.second-of-type li,
#footer-cta .btn-group ul.dropdown-menu li {
    margin: 0;
	padding: 4px 5px 4px 5px;
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
	font-size: 12px;
	color: #272727;
	list-style: none;
    list-style-image: none;
	border-bottom: solid 1px #E2E2E2;
	background: none;
}
#header-links li ul.first-of-type li:hover,
#header-links li ul.second-of-type li:hover,
#footer-cta .btn-group ul.dropdown-menu li:hover {
	background: #E2E2E2;
	background-color: #E2E2E2;
	color: #272727;
	text-decoration: none;
}
ul.first-of-type {
	margin: 0;
}
ul.second-of-type {
	margin: 20px 0 0 0;
}
.dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle:hover, .open .dropdown-toggle {
	outline: none;
}
#footer-cta ul.dropdown-menu {
	margin: 0 0 0 10px;
	min-width: 140px;
	max-width: 140px;
	list-style-type: none;
	list-style-image: none;
	border-radius: 0;
	background-color: #EEE;
}
#footer-cta ul.dropdown-menu li a { 
	margin: 0;
	padding: 0;
}
#footer-cta .btn-group ul.dropdown-menu li a:hover {
	color: #272727;
	background-image: none;
	background-color: none;
	background: none;
}
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}


/*===============================================================
HEADER
===============================================================*/

#header {
	padding-top: 10px;
	padding-bottom: 15px;
	position: relative;
	z-index: 1000;
}
#subsite-header {
	position: relative;
	z-index: 990;
}
.fullbleed {
	width:100%;
}
.fullbleed-media {
	padding-bottom: 40px;
	padding-top: 30px;
	width:100%;
}
/*#subsite-header-affix-wrapper {
	height: 150px;
}
*/
#subsite-header.affix{
	position:fixed;
	top: 0;
}

/*
#subsite-header.affix-top{
	position:relative;
}*/


/*===============================================================
HEADER - TITLE
===============================================================*/

#title-box {
	border-bottom: 1px solid #000000;
}
#title-box.fullbleed h1 {
	margin: 20px 0 0 0;
	padding: 0;
	max-height: 30px;
}
#title-box.fullbleed h2 {
	margin: 0;
	padding: 5px 0 10px;
}
a.logo {
	display: block;
	float: left;
	margin: 15px 0 0;
	width: 70%;
	height: auto;
}
.affix #subsite-title h1 {
	opacity: 1;
}
#subsite-title h1 {
	margin: 0;
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-transform: uppercase;
	transition: all 0.3s ease-in 0s;
	opacity: 0;
}
#subsite-title h2 a {
	margin: 0;
	font-family: 'Vitesse 7r', 'Vitesse A', 'Vitesse B', 'museo-slab', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	line-height: 130%;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}
span.tab-end {
	position: absolute;
	right: -19px;
	width: 23px;
	height: 19px;
	background: url('/media/home/images/tab-end.png') no-repeat scroll 0 0 transparent;
}
#gallery-grid span.tab-end {
	height: 18px;
}


/*===============================================================
NAV-BAR
===============================================================*/

.homenav {
    display: none;
}
#nav-box {
	border-top: 1px solid #777777;
}
.navbar {
	margin-bottom: 0px;
}
.navbar .btn, .navbar .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
#subsite-nav {
	position: relative;
}
#subsite-nav > .navbar-inner {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}
#subsite-nav, #subsite-nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}
#subsite-nav ul li a {
	font-size: 13px;
	border-left: solid 1px #676767;
}
#subsite-nav > li:nth-child(2), #subsite-nav > li:last-child {
	border-left: none;
}
.nav a {
	display: block;
	position: relative;
	padding: 8px 15px;
    width: 100%;
    *width: 100%;
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 0;
	color: #EEEEEE;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 20;
}
#subsite-nav li { /* all list items */
	float: left;
	margin-bottom: 0;
	margin-right: 30px;
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
}
#subsite-nav li a:hover {
	background: #575757;
	text-decoration: underline;
}
#subsite-nav li ul { /* second-level lists */
	display:none;
	position: absolute;
	top: 30px;
	margin: 0;
	padding: 0 15px 15px;
	width: 220px;
	background: #525252;
	-webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.5);
	z-index:15;
}
#subsite-nav li ul a {
	margin: 0;
	padding: 7px 0;
	width: 220px;
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
	font-size: 13px;
	letter-spacing: .5px;
	line-height: 1.2;
	color: #CCCCCC;
	text-align: left;
	text-transform: none;
	border-bottom: 1px solid #676767;
	border-left: none;
}
#subsite-nav li ul a:hover {
	background: #DDD;
	text-decoration: none;
}
#subsite-nav a:hover, #subsite-nav li ul li a:hover {
	color: #FFFFFF;
	background: none;
}
#subsite-nav li:hover ul, #nav li.sfhover ul { /* lists nested under hovered list items */
	display: block;
	left: auto;
}
img.ex {
	display:none;
}

#subsite-nav li a:nth-child(7):hover {
    background-color: rgba(104, 0, 19,.8);
	padding-right: 30px;
}
#subsite-nav li ul li:nth-child(7) {
	background: none;
}


/*===============================================================
LEAD 
===============================================================*/

#lead a {
	color: #FFF;
	letter-spacing: .25px;
	cursor: hand;
	text-decoration: none;
	filter:alpha(opacity=100);

}
.lead-headline a{
	font-size:52px;
	font-weight: bold;
	line-height: 1;
	word-spacing: -3px;
}
#lead h3 a {
	margin: 0 0 0 5px;
	font-family: 'Vitesse 5r', 'Vitesse A', 'Vitesse B', 'museo-slab', 'Arial';
	font-weight: 500;
	font-style: normal;
	font-size: 80%;
	color: #EEB111;
	text-transform: uppercase;
}
#lead h3 a:hover {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	color: #F4CC64;
}
#lead-panel {
	position: absolute;
	bottom: 0;
	padding: 25px 0;
}


/*===============================================================
TIER TWO 
===============================================================*/

#tiertwo #newsfeatures{
padding: 60px 0 0;
}
#tiertwo .section-label h4, #tiertwo .section-label h4 a,
#itw .section-label h4, #itw .section-label h4 a,
#calendar .section-label h4, #calendar .section-label h4 a,
#oncampus .section-label h4, #oncampus .section-label h4 a,
#speakers .section-label h4, #speakers .section-label h4 a,
#il-window .section-label h4, #il-window .section-label h4 a,
.social-post span.tweethandle {
	margin-bottom: 20px;
	font-family: 'Vitesse 5r', 'Vitesse A', 'Vitesse B', 'museo-slab', 'Arial';
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	color: #272727;
	font-size: 20px;
}
#tiertwo h6, .module h6, #gallery-grid.media-panel h6 {
	display:block;
	position:absolute;
	top:0;
	left:0;
	padding:2px 10px 4px 6px;
	margin:0;
	font-family: 'Vitesse 5r', 'Vitesse A', 'Vitesse B', 'museo-slab', 'Arial';
	font-weight: 500;
	font-style: normal;
	letter-spacing: .5px;
	text-transform: uppercase;
	background-color: white;
	z-index: 100;
}
#tiertwo p {
	float: left;
	font-family: 'myriad-pro', 'arial', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}


/*===============================================================
HOME PAGE - FEATURES SLIDER HOME - AND - GALLERY GRID
===============================================================*/

#content-slider-home {
	padding-bottom: 30px;
	margin: 20px 0 10px;
}
#content-slider-home .royalSlider {
	margin-top: 0px;
	margin-bottom: 0px;
}
#content-slider-home .row {
	margin: 0 auto;
	padding: 0;
	width: 90%;
}
#content-slider-home .rsArrowIcn {
    background-color: none;
	background: url('/media/lucedu/patternlibrary/images/sprites/rs-loyola-arrow-dark.png') no-repeat scroll 0 0 transparent;
	opacity: .3;
}
#content-slider-home .rsArrow.rsArrowLeft {
	left: -25px;
	height: 100%;
}
#content-slider-home .rsArrow.rsArrowLeft .rsArrowIcn {
    background-position: 0 1px;
}
#content-slider-home .rsArrow.rsArrowRight {
	right: -25px;
	height: 100%;
}
#content-slider-home .rsArrow.rsArrowRight .rsArrowIcn {
    background-position: -30px 1px;
}
#content-slider-home figure, #gallery-grid figure {
	float: left;
	margin: 0 0 5px 0;
	padding: 4px;
	width: 98%;
	color:#272727;
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#gallery-grid figure {
	position: relative;
	margin: 10px 0;
}
#content-slider-home figcaption, #gallery-grid figcaption a {
	display: block;
	float: left;
	margin: 0;
	padding: 10px;
	width: 93.88%;
	max-height: 40px;
	height: 40px;
	font-family: 'myriad-pro', 'arial', sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.3;
	color: #EEE;
	text-align: left;
}
#content-slider-home figcaption a, #gallery-grid figcaption a {
	float: left;
	width: 80%;
	color: #EEE;
}
	#gallery-grid figcaption a {
    width: 92.6%;
}
#content-slider-home figcaption a:hover, #gallery-grid figcaption a:hover {
	color: #FFF;
}
/* maroon-dark */
#content-slider-home .newsbox figure figcaption {
	background-color:#330000;
}
/* earth */
#content-slider-home .newsbox:nth-child(even) figure figcaption {
	background-color:#282321;
}
/* patina */
#content-slider-home .newsbox:nth-child(3n+0) figure figcaption {
	background-color:#07292B;
}

#content-slider-home figcaption i.media-icon {
	float:left;
	margin-right: 10px;
	margin-bottom: 20px;
	width: 30px;
	height: 30px;
	background-size: 938px 318px;
}
.newsbox {
	position:relative;
	margin-top: 5px;
	width: 31.4%;
}
.newsbox:first-child, #content-slider-home.royalSlider:first-child {
	margin-left: 0;
}


/*===============================================================
TIER TWO - IN THE WORLD - ITW
===============================================================*/

#content-slider-caption-home .rsArrow .rsArrowIcn {
    height: 26px;
    width: 22px;
	background-size: auto 24px;
}
#content-slider-caption-home .rsArrow.rsArrowLeft {
	left: 5px;
	height: 100%;
}
#content-slider-caption-home .rsArrow.rsArrowLeft .rsArrowIcn {
    background-position: 2px 1px;
/*  background-color: rgba(0,0,0,.5); */
}
#content-slider-caption-home .rsArrow.rsArrowRight {
	right: 0;
	height: 100%;
}
#content-slider-caption-home .rsArrow.rsArrowRight .rsArrowIcn {
    background-position: -16px 1px;
/*  background-color: rgba(0,0,0,.5); */
}
#content-slider-caption-home.royalSlider {
	display: block;
	width: 100%;
/*	height: 313px; */
	margin: 0;
	z-index: 3;
}
#content-slider-caption-home .rsImageCounter {
	display:none;
}
#itw .rs-world {
/*	margin-top: -5px; */
	padding: 4px;
	width: 99.5%;
/*	height: 313px; */
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#content-slider-caption-home figure {
	font-family: 'myriad-pro', 'arial', sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.3;
	color: #EEE;
	text-align: left;
	overflow: hidden;
}
#content-slider-caption-home figure {
	margin: 0;
	padding: 10px;
	background-color: rgba(0,0,0,.5);
}
#content-slider-caption-home .rsGCaption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
}
#content-slider-caption-home .rsGCaption a {
	color: #EEE;
	margin-right: 5px;
}


/*===============================================================
TIER TWO - CALENDAR
===============================================================*/

#calendar {
	margin: 0;
}
#calendar .span3 {
    margin-top: 0;
	margin-left: 15px;
}
#calendar h4 {
	margin: 0;
	padding-top: 2px;
}
#calendar .section-label h4 {
	margin: 10px 0 0 0;
}
#calendar h4 a {
	font-family:"myriad-pro", 'arial', sans-serif;
	font-weight: bold;
	color: #272727;
	text-indent: none;
	text-transform: none;
}
#calendar h4 a:hover {
	color: #680013;
	text-decoration: none;
}
.home-event, .home-event p, .home-event-box, .home-event-day p, .home-event-date p {
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
}
.home-event {
	float: left;
	margin: 0;
	padding: 20px 0;
	width: 100%;
	border-bottom: dotted 1px #CCC;
}
.home-event:nth-of-type(6) {
	padding: 20px 0 10px;
	border-bottom: 0;
}
#calendar .home-event-box, #calendar .home-event-day p, #calendar .home-event-date p  {
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 60px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: #272727;
	letter-spacing: 0px;
	text-transform: uppercase;
}
#calendar .home-event-day p {
	background-color: #680013;
	color: #DDD;
	border-radius: 5px 5px 0 0;
}
#calendar .home-event-date p {
	font-weight: normal;
	background-color: #CCC;
	border-radius: 0;
}
#calendar .event-time {
	float: left;
	margin-top: 0;
	font-family:"myriad-pro", 'arial', sans-serif;
}
#calendar p a, #social-more p a {
	float: left;
    margin: 0;
    font-family: 'Vitesse 7r','Vitesse A','Vitesse B', 'museo-slab', 'Arial';
    font-size: 75%;
	font-weight: bold;
    font-weight: 700;
    text-transform: uppercase;
}
#calendar p {
	margin: 10px 0 -10px 0;
	padding: 0;
	width: 100%;
}
#calendar-links {
	float: left;
	margin: 20px 0 0 0;
	padding: 20px 0;
	border-top: dotted 1px #CCC;
	border-bottom: dotted 1px #CCC;
}
#calendar-links h5 {
	float: left;
	margin: 5px 0;
	width: 100%;
	font-size: 16px;
}
#calendar-links span {
	margin-left: 5px;
	font-family: "myriad-pro", Arial, sans-serif;
	font-weight: 100;
}
#calendar-links a {
	font-weight: bold;
	text-transform: uppercase;
}
#calendar-links a:hover {
	text-decoration: none;
}
#calendar p a { float: left; height: 30px; }


/*===============================================================
TIER TWO - ON CAMPUS
===============================================================*/

#oncampus {
	margin-top: 50px;
}
#oncampus .on-campus-image {
	width: 100%;
	max-height: 264px;
	overflow: hidden;
}
#oncampus .on-campus-image img {
	width: 100%;
	height: auto;
}
#oncampus figure, #oncampus figure .section-label {
	float: left;
	margin: 0;
	width: 100%;
}
#oncampus .section-label h4, #oncampus .section-label h4 a {
	margin: 10px 0;
	padding: 0;
}
#itw #oncampus figure figcaption,
#on-campus figure figcaption {
	width: 93.617%;
	padding: 10px 15px 15px;
	font-family: 'myriad-pro', 'arial', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.3;
	color: #272727;
	text-align: left;
	overflow: hidden;
	background: #EEEEEE;
}
#oncampus p a, #speaker-single a.readmore, #calendar a.readmore, #social-feed a.readmore {
    margin: 0 0 0 5px;
    font-family: 'Vitesse 7r','Vitesse A','Vitesse B', 'museo-slab', 'Arial';
    font-size: 75%;
	font-weight: bold;
    font-weight: 700;
    text-transform: uppercase;
    display: inline;
}
#social-feed a.readmore {font-size:85%;}
#oncampus p a:hover {
	text-decoration: none;
}
#oncampus figure figcaption p {
	margin: -10px 0 10px 0;
}
#social-feed {
	margin: 20px 0 -25px;
}

.social-post { margin: 0 0 15px; line-height: 1.6; }

.social-post span.tweetdate { color: #888; }

.social-post span.tweethandle { font-size:90%; }

#social-feed .floating-icon {
	width: 10px;
	height: 10px;
	background: url('/media/lucnew/imagesi/social-icons-transparent-group-33.png') no-repeat 0 0 transparent;
	z-index: 9000;
}


/*===============================================================
TIER TWO - SOCIAL ICONS
===============================================================*/

#social ul {
margin: 0;
}
.social li{
	float: left;
	margin: 0 10px 0 0;
	width: 33px;
	height: 33px;
	background-color: #525252;
	border-radius: 4px;
	list-style: none;
	overflow: hidden;
}	
.social li:first-child{
	margin-left: 0 !important;
	margin-right: 10px;
}
.social li:last-child {
	margin-right: 0;
}
.social li a{
	display: block;
	margin: 0; !important;
	width: 33px;
	height: 33px;
	border-radius: 4px;
	text-indent: -9999px;
	background: url('/media/home/images/social-icons-logos-33.png') no-repeat;
	background-color: #525252;
}
#footer-cta .social li a {
	margin: 0;
	padding: 0;
}
#footer-cta ul.social {
	float:right;
    position: relative;
    right: -10px;
}
.social li a{
	display: block;
	margin: 0; !important;
}
.social li a:hover {
	background-color: #680013;
	-webkit-transition: background-color .2s ease-in;
	-moz-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
}
.social li a.icon-fb{
	background-position: 0 0;
}
.social li a.icon-fb:hover{
	background-position: 0 0;
}
.social li a.icon-tw{
	background-position: 0 -33px;
}
.social li a.icon-tw:hover{
	background-position: 0 -33px;
}
.social li a.icon-yt{
	background-position: 0 -66px;
}
.social li a.icon-yt:hover{
	background-position: 0px -66px;
}
.social li a.icon-fl{
	background-position: 0 -99px;
}
.social li a.icon-fl:hover{
	background-position: 0 -99px;
}
.social li a.icon-li{
	background-position: 0 -132px;
}
.social li a.icon-li:hover{
	background-position: 0 -132px;
}
.social li a.icon-ig{
	background-position: 0 -165px;
}
.social li a.icon-ig:hover{
	background-position: 0 -165px;
}
.social li a.icon-pi{
	background-position: 0 -198px;
}
.social li a.icon-pi:hover{
	background-position: 0 -198px;
}
.social li a.icon-instagram{
	background-position: 0 -232px;
}
.social li a.icon-instagram:hover{
	background-position: 0 -232px;
}
.canvas-story ul.share {
	margin:20px 0 20px 0;
	padding:0;
	width:100%;
}
.canvas-story .share li {
	float: left;
	margin: 0 7px 0 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	background-color: #525252;
	border-radius: 4px;
	list-style: none;
	overflow: hidden;
}	
.share li a {
	display: block;
	margin: 0; !important;
	width: 25px;
	height: 25px;
	color:#000;
	border-radius: 2px;
	background: url('/media/home/images/social-icons-logos-33.png') no-repeat;
	background-color: #525252;
	background-size:95%;
}

.canvas-story ul.share li.shlabel {
	position: relative;
	bottom: -12px;
}
.share li.shlabel {
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	width:auto;
	text-indent:0px;
	font-family: 'Vitesse 5r','Vitesse A','Vitesse B', Arial,sans-serif;
	font-size: 80%;
    font-weight: 500;
    color: #525252;
    text-align: left;
    text-transform: uppercase;
	border:0;
	
	background-color:transparent;
}
.share li.facebook a {
	background-position: 0 0;
}
.share li.twitter a {
	background-position: 0 -22px;
}
.share li.email a {
	background: url('/media/home/images/social-icon-email-33.png') no-repeat;
	background-size:95%;
	background-position:1px 1px;
}


/*===============================================================
SPEAKERS
===============================================================*/

#speaker-single { margin-top: 40px; }

#speaker-single figure { float: left; margin: 0; }

#speaker-single figure:first-of-type { margin: 10px 0 0 0; border-bottom: dotted 1px #CCC; }

#speaker-single figure a img {
	padding: 4px;
	width: 98%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
#speaker-single .section-label h4 {
	margin: 0 0 17px 0;
}
#speaker-single .section-label:nth-of-type(2) h4,
#speaker-single figure:nth-of-type(2) img {
	display:none;
}
#speaker-single figcaption {
	float: left;
	padding: 20px 0 25px;
	font-family: 'myriad-pro', 'arial', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 100;
	color: #272727;
/*	border-bottom: dotted 1px #888; */
}
#speaker-single figcaption a {
	clear: both;
	display: inline;
	position: relative;
}
#speaker-single figcaption span {
	font-weight: bold;
}
#speaker-single figcaption img {
	float: left;
	margin: 0 20px 0 0;
	width: 100%;
}


/*===============================================================
INTERIOR - PAGE
===============================================================*/

#page {padding:0;}


/*===============================================================
INTERIOR - PAGE NAV
===============================================================*/

#page-nav ul{
	margin: 0;
	padding: 1em;
	list-style: none outside none;
}
#page-nav ul li {
	margin: 0;
	padding: 0;
    border-bottom: 1px solid #5E5E5E;
}
#page-nav ul li a {
	display: block;
    padding: 5px 3px 5px 0;
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
    font-size: 12px;
	color: #CDCEC9;
    text-decoration: none;
    text-transform: uppercase;
}
#page-nav ul li a:hover, #page-nav ul li .currentbranch0 a {
	color: #fff;
/*	background-color:#484848;
	-moz-box-shadow:inset 0 0 10px rgba(0, 0, 0, .3);
	-webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, .3);
	box-shadow:inset 0 0 10px rgba(0, 0, 0, .3);
	-moz-transition: all 0.2s ease-in;
  	-webkit-transition: all 0.2s ease-in;
*/
}
#page-nav ul li ul {
	margin:0;
	padding: 0 0 0 15px;
}
#page-nav ul li ul.multilevel-linkul-0 {
	margin: 0 0 10px 0;
}
#page-nav ul li ul li {
	border: none;
	list-style: square;
	margin: 0 0 0 5px;
	color: #6E6E6E;
}
#page-nav ul li ul li a {
	color: #CDCEC9;
}
#page-nav ul li ul li span.currentbranch0, 
#page-nav ul li ul li span.currentbranch1, 
#page-nav ul li ul li span.currentbranch2, 
#page-nav ul li ul li span.currentbranch3, 
#page-nav ul li ul li span.currentbranch4, 
#page-nav ul li ul li span.currentbranch5 {
	margin-top: 0;
	display: block;
/*	background-color:#484848;
	-moz-box-shadow:inset 0 0 10px rgba(0, 0, 0, .3);
	-webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, .3);
	box-shadow:inset 0 0 10px rgba(0, 0, 0, .3);
	-moz-transition: all 0.2s ease-in;
  	-webkit-transition: all 0.2s ease-in;
*/
}
#page-nav ul li span.currentbranch0 a {
	margin-top: 10px;
}

	
/*===============================================================
INTERIOR - CONTENT LAYOUT
===============================================================*/

#page-content article {
	float: left;
    margin: 0;
    padding: 30px;
    width: 89.6%;
}


/*===============================================================
MOBILE
===============================================================*/

li#nav-mobile {
	display: none;
}
.close {
	display: none;
}


/*===============================================================
FOOTER
===============================================================*/

footer {
	margin-top:40px;
        padding: 20px 0 20px;
	border-top: 1px solid #777777;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}
footer ul {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
footer #footer-links {
	float: left;
	padding: 0;
}
footer #footer-links ul#main-nav.topmenugroup li {
	border-left: solid 0px #676767;
	padding-left: 15px;
}
footer #footer-links ul li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	width: 135px;
	min-height: auto;
	text-align: left;
	list-style-image: none;
}
#footer-links .multilevel-linkul-0 {
	margin-top: 15px;
}
footer #footer-links ul#main-nav.topmenugroup li ul li {
	padding-left: 0;
	border-left: none;
}
footer #footer-links ul li ul.multilevel-linkul-0 li {
	float: none;
	margin: 0 0 8px;
	padding: 0;
	width: auto;
	min-height: 0;
	border-right: medium none;
	border-bottom: 1px solid #676767;
	text-align: left;
}
footer #footer-links ul li ul.multilevel-linkul-0 li:last-child {
	margin: 0 0 0 0;
}
footer #footer-links ul li {
	margin-bottom: 3px;
}
footer #footer-links ul li a {
	display: block;
	margin-left: 0;
	font-family: 'Forza 5r', 'Forza A', 'Forza B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
	font-size: 12.5px;
	letter-spacing: .5px;
	color: #CCCCCC;
	text-decoration: none;
}
footer #footer-links ul li a {
	margin-bottom: 7px;
	margin-top: -2px;
	font-size: 12.5px;
	font-weight: 400;
	letter-spacing: .5px;
	color: #CCCCCC;
	text-transform: uppercase;
}
footer #footer-links ul li a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
footer #footer-links ul li ul li a {
	font-family: 'Forza SSm 5r', 'Forza SSm A', 'Forza SSm B', 'museo-sans', 'Arial';
	font-weight: 500;
	font-style: normal;
	letter-spacing: 0;
	line-height: 16px;
	color: #CCCCCC;
	text-transform: none;
}
footer .content {
	margin: 0 auto;
	max-width: 940px;
}


/*===============================================================
FOOTER - ADDRESS
===============================================================*/

#footer-address {
	background-color:#E9E9E9
}
#footer-address .vcard {
	float: left;
	padding: 15px 10px 15px 0;
	font-family: "myriad-pro", sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #525252;
}
#footer-address .vcard .org {
	text-transform: uppercase;
}
.logo-tag {
	float: right;
	padding: 15px 0 10px;
	width: 220px;
}


/*===============================================================
AFFIX
===============================================================*/

.affix {
	left: 0;
	right: 0;
}

/*===============================================================
MARGIN-LEFT ADD 30
===============================================================*/

.margin-left-add {
	margin-left: 30px;
}


/*===============================================================
ICON ARROW
===============================================================*/

[class^="icon-loyola-"],
[class*="icon-loyola-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/arrow-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.dropdown-menu > .active > a > [class^="icon-loyola-"],
.dropdown-menu > .active > a > [class*=" icon-loyola-"],
.dropdown-submenu:hover > a > [class^="icon-loyola-"],
.dropdown-submenu:focus > a > [class^="icon-loyola-"],
.dropdown-submenu:hover > a > [class*=" icon-loyola-"],
.dropdown-submenu:focus > a > [class*=" icon-loyola-"] {
  background-image: url("../img/arrow-icon.png");
}

.icon-loyola-arrow.white {
  background-position: 0 0;
}

.icon-loyola-arrow-down.white {
  background-position:-16px 0;
}

.icon-loyola-arrow.dark {
  background-position:-32px 0;
}

.icon-loyola-arrow-down.dark {
  background-position:-48px 0 ;
}

.icon-loyola-arrow.maroon {
  background-position:-64px 0 ;
}

.icon-loyola-arrow-down.maroon {
  background-position:-80px 0 ;
}


/*===============================================================
ICON PLAY
===============================================================*/

[class^="icon-media"],
[class*="icon-media"] {
  float:left;
  width: 35px;
  height: 35px;
  margin-top: 2px;
  margin-right: 5px;
  *margin-right: .3em;
  margin-left: 3px;
  line-height: 1.3px;
  vertical-align: text-top;
  background-image: url('/media/home/images/media-icon.png');
  background-position: 0 0;
  background-repeat: no-repeat;

}

.dropdown-menu > .active > a > [class^="icon-media"],
.dropdown-menu > .active > a > [class*=" icon-media"],
.dropdown-submenu:hover > a > [class^="icon-media"],
.dropdown-submenu:focus > a > [class^="icon-media"],
.dropdown-submenu:hover > a > [class*=" icon-media"],
.dropdown-submenu:focus > a > [class*=" icon-media"] {
  background-image: url('/media/home/images/media-icon.png');
}

.icon-media, .icon-media.light30{
  opacity:.7;
  background-position: -30px 3px;
  display: none;
}

.icon-media:hover, .icon-media.light50{
  opacity:1;
  background-position: -30px 2px;
	-webkit-transition: opacity .2s ease-in;
	-moz-transition: opacity .2s ease-in;
	transition: opacity .2s ease-in;
  display: none;
}

/*===============================================================
MEDIA QUERY - TABLET LANDSCAPE
===============================================================*/

@media (min-device-width: 1025px) and (max-device-width: 1600px) {

a.logo { width: 75%; }

ul#global-links li a { font-size: 10px; }

}


/*===============================================================
MEDIA QUERY - TABLET LANDSCAPE
===============================================================*/

@media (min-width: 768px) and (max-width: 1024px) {

a.logo { width: 75%; }

#global-form a.btn { width: 22%; }

#global-form .input-append button.btn { width: 15%; }

.nav a { padding: 8px 10px; }

#subsite-nav li, #subsite-nav li a  { margin-right: 5px; }

#subsite-nav li a:hover { background: none; }

}


/*===============================================================
MEDIA QUERY - TABLET PORTRAIT
===============================================================*/

@media (min-width: 768px) and (max-width: 768px) {

a.logo { width: 100%; }

ul#global-links { width: 135%; }

ul#global-links li a { font-size: 11px; }

#global-links, #global-form { width: 135%; float: right; }

#global-form .input-append button.btn { width: 15%; }

.nav a { padding: 8px 15px }

#subsite-nav li { margin-right: 30px; }

#footer-cta .#footer-cta a { position: relative; top: 40px; }

footer #footer-links ul li a { font-size: 14px; font-weight: bold; }

footer #footer-links ul li ul li a { font-weight: 700; font-weight: bold; }

footer #footer-links ul#main-nav.topmenugroup li { margin-top: 20px; }

footer #footer-links ul#main-nav.topmenugroup li ul.multilevel-linkul-0 li { margin-top: 0; }

}


/*===============================================================
MEDIA QUERY - MOBILE UP TO TABLET PORTRAIT
===============================================================*/

@media (max-width: 768px) {

#global-form .input-append button.btn i.icon-search {
	background-position: -48px 2px; height: 15px;
}
.input-large,
.input-xlarge,
.input-xxlarge,
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
	min-height: 26px;
}

#global-form .input-append input#appendedInputButton { min-height: 10px; }

#subsite-title h2 a { font-size: 30px; }

footer #footer-links ul li { width: 100%; }

#footer-address .vcard { width: 90% !important; }

.logo-tag { display: none; }

.affix { margin: 0; }


}


/*==== GLOBAL ADJUST ==========================================*/

@media (max-width: 480px) {

a.logo { display: none; }

#global-form .input-append input#appendedInputButton { width: 62%; }

#global-form .input-append input#appendedInputButton { min-height: 26px; }

#content-slider-home .rsArrowIcn {
    background-color: none;
	background: url('/media/lucedu/patternlibrary/images/sprites/rs-loyola-arrow-dark.png') no-repeat scroll 0 0 transparent;
	opacity: .3;
}
footer #footer-links ul#main-nav.topmenugroup li { margin-top: 20px; }

footer #footer-links ul#main-nav.topmenugroup li ul.multilevel-linkul-0 li { margin-top: 0; }

#header, #nav-box, #title-box, .fullbleed {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
}

/* .affix #title-box h1, .affix #title-box h2 { margin:0 20px; } */

#subsite-title h2 a, h2 { padding: 5px 0 10px; font-size: 14px; line-height: 160%; }

}

/*==============================================================*/



/*==== GLOBAL ADJUST ==========================================*/

@media (max-width: 320px) {

a.logo { display: none; }

#global-form .input-append input#appendedInputButton { width: 52%; }

#global-form .input-append input#appendedInputButton { min-height: 26px; }

footer #footer-links ul#main-nav.topmenugroup li { margin-top: 20px; }

footer #footer-links ul#main-nav.topmenugroup li ul.multilevel-linkul-0 li { margin-top: 0; }

#header, #nav-box, #title-box, .fullbleed {
	margin: 0 -20px 0 -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
}

/* .affix #title-box h1, .affix #title-box h2 { margin:0 20px; } */

#subsite-title h2 a, h2 { padding: 5px 0 10px; font-size: 14px; line-height: 160%; }

}

/*==============================================================*/



/*==== GLOBAL ADJUST - IPHONE5 - PORTRAIT ======================*/

@media screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

a.logo { display: none; }

#global-form .input-append input#appendedInputButton { width: 52%; }

#global-form .input-append button.btn { width: 20%; }

#global-form .input-append input#appendedInputButton { min-height: 26px; }

footer #footer-links ul#main-nav.topmenugroup li { margin-top: 20px; }

footer #footer-links ul#main-nav.topmenugroup li ul.multilevel-linkul-0 li { margin-top: 0; }

#header, #nav-box, #title-box, .fullbleed {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
}

/* .affix #title-box h1, .affix #title-box h2 { margin:0 20px; } */

#subsite-title h2 a, h2 { padding: 5px 0 10px; font-size: 14px; line-height: 160%; }

}

/*==== GLOBAL ADJUST - IPHONE5 - LANDSCAPE ====================*/

@media screen and (max-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

a.logo { display: none; }

#global-form .input-append input#appendedInputButton { width: 75%; }

#global-form .input-append button.btn { width: 10%; }

#global-form .input-append input#appendedInputButton { min-height: 26px; }

#header, #nav-box, #title-box, .fullbleed {
	margin: 0 -20px 0 -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
}

#subsite-title h2 a, h2 { padding: 5px 0 10px; font-size: 14px; line-height: 160%; }

}


/*===============================================================
IE - Fixes Fonts
===============================================================*/

.old-ie * {
   font-weight: normal !important;
   font-style:  normal !important;
}

/*===============================================================
ALERT
===============================================================*/

#alertbox { display: none; }

.alertdetail p { font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; }

.alertdetail p.jumbo { font-size: 40px; }

.alertdetail p a { color:#D8BD50; }

.alertdetail h1 { font-size:50px; text-align:left; }



#morestories img {display:none}


/*===============================================================
SOCIAL MEDIA TABS
===============================================================*/

#socialmedia.tabs-left .nav-tabs {margin-right:0px;}
#socialmedia.module {padding:5px;}
#socialmedia li a {min-width:25px; padding-right:0px;padding-left:10px;}
#socialmedia .tab-content{padding-left:20px;}